<!DOCTYPE html>
<html>
    <head>
        <title>EMPRESTA.ME-Network-Visualization</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> 
        <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>

        <style>
            body,h1 {font-family: "Raleway", sans-serif}
            body, html {height: 100%}
            .bgimg {
            background-image: url('/w3images/forestbridge.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
            }
            .links line {
              stroke-opacity: 1;
               stroke-width: 10px; 
              /*stroke-width: 3px;*/
            }

            .nodes circle {
              stroke: #fff;
              /* stroke-width: 2.5px; */
              stroke-width: 1.5px;
              pointer-events: all;
            }

            .tooltip {
              position: absolute;
              text-align: center;
              padding: 6px;
              font: 12px sans-serif;
              background: #ddd;
              pointer-events: none;
              border-radius: 5px;
              pointer-events: none;
              display: none;
            }
        </style>
    </head>
    <body>
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-black">
          <div class="w3-display-topleft w3-padding-large w3-xlarge">
              EMPRESTA.ME
          </div>
          <div id = "stats" class="w3-display-left w3-padding-large w3-xlarge" style="margin-left: 50px; max-width: 500px; word-wrap: break-word;">
              <b>Reputation Scores</b>
            <ul id="node-list"></ul>
          </div>
          <div class="w3-display-middle" >
            <div id="container">
              <svg id = "mySvg" width="960" height="600"></svg>
            </div>
          </div>
        </div>
    </body>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>

      async function refreshDiagram() {
        console.log("refresh")

        let response = await fetch('/api/diagram');
        let res = await response.text();

        //initilize svg or grab svg
        var svg = d3.select("#mySvg");
        var width = svg.attr("width");
        var height = svg.attr("height");

        //intialize data
        var graph = JSON.parse(res);
        //console.log(graph.nodes);

        var simulation = d3
          .forceSimulation(graph.nodes)
          .force(
            "link",
            d3
              .forceLink()
              .id(function(d) {
                return d.name;
              }).distance(200).strength(1)
              .links(graph.links)
              //.distance(100) // length of links
          )

          .force("charge", d3.forceManyBody().strength(-60))
          .force("center", d3.forceCenter(width / 2, height / 2))
          .on("tick", ticked);

        // Define the div for the tooltip
        var tooltip = d3.select("body").append("div")
          .attr("class", "tooltip")
          .style("opacity", 0);

        var link = svg
          .append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(graph.links, function(d) { return d.source.id + "-" + d.target.id; }) // add identifier
          
          .enter()
          .append("line")
          .on("mouseover", function(d) {
            tooltip.style("display", "block")
            tooltip.transition()
            .duration(200)
            .style("opacity", .9);
            //tooltip.html(d.value)

            // Check the boolean value of the other respective link
            var otherLink = graph.links.filter(function(link) {
              return link.source === d.target && link.target === d.source;
            })[0];
            var otherValue = otherLink.value;
             

            var thisName = d.source.name;
            var thisMessage = d.message;
            var otherName = otherLink.source.name;
            var otherMessage = otherLink.message;

            // display messages if they exist
            if (thisMessage && otherMessage)  {
              tooltip.html(thisName + " : " + thisMessage + "<br>" + otherName + " : " + otherMessage);
            } else if (otherMessage) {
              tooltip.html(otherName + " : " + otherMessage);
            } else if (thisMessage) {
              tooltip.html(thisName + " : " + thisMessage);
            } else{
              tooltip.html("");
            }
            

            tooltip.style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
          })
          // Add mouseout event listener to hide tooltip
          .on("mouseout", function(d) {
          tooltip.style("display", "none");
          })
          ;

        var node = svg
          .append("g")
          .attr("class", "nodes")
          .selectAll("circle")
          .data(graph.nodes)
          .enter()
          .append("circle")
          .attr("r", 35)
          .each(function(d) {
            // set r as a property on the data object
            d.r = 35;
          })
          /* .attr("r", 15) */ // ----- radius of the inner (collored) circle
          .attr("fill", function(d) {
            return "#eee"
          })
      /* .append("image")  // TODO fix this
      .attr("xlink:href", function(d) {
        return d.logo;
      }) */
      .attr("width", 30) // adjust image width as needed
      .attr("height", 30) // adjust image height as needed
      .attr("x", -15) // adjust image x position as needed
      .attr("y", -15) // adjust image y position as needed
          .attr("pointer-events", "all") // enable mouse events on the circle
          .call(
            d3
              .drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended)
          )
          .on("mouseenter", function(d) {
            //console.log("mouseover")
            tooltip.style("display", "block")
            tooltip.transition()
            .duration(200)
            .style("opacity", .9);
            tooltip.html(d.name + " - " + d.trustValue + " %")
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
          })
          // Add mouseout event listener to hide tooltip
          .on("mouseout", function(d) {
          tooltip.style("display", "none");
          })
        ;

        // ------------------------------------------------------------------------------//
      // the images are not on the right place

      var nodeAgain = svg.selectAll("g.node")
        .data(graph.nodes, function(d) { return d.id; });


      // Enter any new nodes.
      var nodeEnter = nodeAgain.enter().append("svg:g")
        .attr("class", "node")
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })


      // Append imagesvar 
      var images = nodeEnter.append("image")
        .attr("xlink:href", function(d) { 
          return d.logo; })
        .attr("x", function(d) { return d.x - d.r; })
        .attr("y", function(d) { return  d.y - d.r; })
        .attr("transform", function(d) { return "translate(" + -d.x + "," + -d.y + ")"; })
        .attr("height", 70)
        .attr("width", 70)
        .attr("pointer-events", "all") // enable mouse events on the image
        .call(
          d3
            .drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended)
        )
        .on("mouseenter", function(d) {
          //console.log("mouseover")
          tooltip.style("display", "block")
          tooltip.transition()
          .duration(200)
          .style("opacity", .9);
          tooltip.html(d.name + " - " + d.trustValue + " %")
          .style("left", (d3.event.pageX) + "px")
          .style("top", (d3.event.pageY - 28) + "px");
        })
        // Add mouseout event listener to hide tooltip
        .on("mouseout", function(d) {
        tooltip.style("display", "none");
        });
      // ------------------------------------------------------------------------------//

        function updateStats(nodes) {
          const nodeList = document.getElementById("node-list");
          // clear previous list of nodes
          nodeList.innerHTML = "";
          // add each node to the list
          nodes.forEach(node => {
            const li = document.createElement("li");
            li.textContent = `${node.name} - ${node.trustValue} %`;
            nodeList.appendChild(li);
          });
        }


        function ticked() {
          images
          .attr("x", function(d) { return d.x - d.r;})
          .attr("y", function(d) { return d.y - d.r ;})
          ;
          link
            .attr("x1", function(d) {
              return d.source.x;
            })
            .attr("y1", function(d) {
              return d.source.y;
            })
            .attr("x2", function(d) {
              return d.target.x;
            })
            .attr("y2", function(d) {
              return d.target.y;
            })

            .attr("stroke", function(d) {
              // each link is duplicated so bob-alice may be 1 and alice-bob may be 0
              // if either is 0, the link is red, otherwise its green
              var oneOfThemIs0 = graph.links.find(function(l) {
                return l.source.id === d.target.id && l.target.id === d.source.id && l.value !== d.value;
              });
              if (oneOfThemIs0) {
                return "red";
              } else if (d.value === 1) {
                return "green";
              } else {
                return "red";
              }
            });

          node
            .attr("cx", function(d) {
              return d.x;
            })
            .attr("cy", function(d) {
              return d.y;
            });


          updateStats(graph.nodes); // call the function to update the stats div
        }

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          if (tooltip.style("display") === "block") {
            tooltip.style("display", "none");
          }
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }

  }

  refreshDiagram();

</script>
